<% if (typeof laptime === "undefined"){ %>
<%- include("header",{title: "New time"})-%>
<%- include("navbar",{active: "new"})%>
<% }else{ %>
<%- include("header",{title: "Edit time" })-%>
<%- include("navbar",{active: ""})%>
<% }%>
<div class="container">
    <h1 class="text-center">
        <% if (typeof laptime === "undefined") {%>New<%}else{%>Edit<% }%> laptime
    </h1>
    <form method="POST">
        <input type="hidden" name="id" value="<%= typeof laptime === "undefined" ? "" : laptime._id%>"/>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="mb-3">
                    <label for="InputCar" class="form-label">Car</label>
                    <input type="text" class="form-control" name="car" placeholder="car" value="<%= typeof laptime === "undefined" ? "" : laptime.car%>"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="mb-3">
                    <label for="InputCircuit" class="form-label">Circuit</label>
                    <input type="text" class="form-control" name="track" placeholder="circuit" value="<%= typeof laptime === "undefined" ? "" : laptime.track%>"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="mb-3">
                    Weather
                    <select class="form-select mb-3" name="weather" >
                        <option value="Sunny" <%= (typeof laptime === "undefined" || laptime.weather!== "Sunny") ? "" : "selected" %>>Sunny</option>
                        <option value="Cloudy" <%= (typeof laptime === "undefined" || laptime.weather!== "Cloudy") ? "" : "selected" %>>Cloudy</option>
                        <option value="Light rain" <%= (typeof laptime === "undefined" || laptime.weather!== "Light rain") ? "" : "selected" %>>Light rain</option>
                        <option value="Heavy rain" <%= (typeof laptime === "undefined" || laptime.weather!== "Heavy rain") ? "" : "selected" %>>Heavy rain</option>
                        <option value="Thunderstorm" <%= (typeof laptime === "undefined" || laptime.weather!== "Thunderstorm") ? "" : "selected" %>>Thunderstorm</option>
                        <option value="Foggy" <%= (typeof laptime === "undefined" || laptime.weather!== "Foggy") ? "" : "selected" %>>Foggy</option>
                        <option value="Snowy" <%= (typeof laptime === "undefined" || laptime.weather!== "Snowy") ? "" : "selected" %>>Snowy</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="mb-3">
                    <label for="InputTime" class="form-label">Time</label>
                    <input type="text" class="form-control" name="time" placeholder="time" value="<%= typeof laptime === "undefined" ? "" : laptime.time%>"/>
                </div>
                <% if (typeof error !== "undefined") { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-3">
                <a href="/laptimes/id">
                    <button type="button" class="btn btn-outline-danger btn-lg">Back</button>
                </a>
            </div>
            <div class="col-1 offset-3 text-end">
                <input type="submit" class="btn-danger btn-lg" href="/laptimes/id" value="<% if (typeof laptime === "undefined") {%>Add<%}else{%>Save<% }%>"/>
            </div>
        </div>
    </form>
</div>
<%- include("footer") -%>