<%- include("header",{title: "Laptimes" })-%>
<%- include("navbar",{active: "times"})%>
<div class="container">
    <div class="row">
        <div class="col offset-2">
            <h1>Your Times</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table">
                <tr>
                    <td>
                        Car
                    </td>
                    <td>
                        Circuit
                    </td>
                    <td>
                        Weather
                    </td>
                    <td>
                        Time
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <% laptimes.forEach(function(t) {%>
                <tr>
                    <td>
                        <%= t.car%>
                    </td>
                    <td>
                        <%= t.track%>
                    </td>
                    <td>
                        <%= t.weather%>
                    </td>
                    <td>
                        <%= t.time%>
                    </td>
                    <td>
                        <a href="/laptimes/<%= user._id%>/edit/<%= t._id%>"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="/laptimes/<%= user._id%>/del/<%= t._id%>"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                <% });%>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-2">
            <a href="/laptimes/<%= user._id%>/newtime">
                <button type="button" class="btn-danger btn-sm">Add time</button>
            </a>
        </div>
    </div>
</div>
<%- include("footer") -%>